In [24]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score

In [25]:
df = pd.read_csv("3_dataset.csv")
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,diagnosis
0,0,50,2,168,62,110,80,1,1,0,0,1,0,2
1,1,55,1,156,85,140,90,3,1,0,0,1,1,3
2,2,51,1,165,64,130,70,3,1,0,0,0,1,2
3,3,48,2,169,82,150,100,1,1,0,0,1,1,3
4,4,47,1,156,56,100,60,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68583,99993,52,2,168,76,120,80,1,1,1,0,1,0,2
68584,99995,61,1,158,126,140,90,2,2,0,0,1,1,3
68585,99996,52,2,183,105,180,90,3,1,0,1,0,1,3
68586,99998,61,1,163,72,135,80,1,2,0,0,0,1,2
68587,99999,56,1,170,72,120,80,2,1,0,0,1,0,2

In [26]:
X =  df.drop(columns="diagnosis",axis=1)
Y =  df["diagnosis"]

In [27]:
print(X)

          id  age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  \
0          0   50       2     168      62    110     80            1     1
1          1   55       1     156      85    140     90            3     1
2          2   51       1     165      64    130     70            3     1
3          3   48       2     169      82    150    100            1     1
4          4   47       1     156      56    100     60            1     1
...      ...  ...     ...     ...     ...    ...    ...          ...   ...
68583  99993   52       2     168      76    120     80            1     1
68584  99995   61       1     158     126    140     90            2     2
68585  99996   52       2     183     105    180     90            3     1
68586  99998   61       1     163      72    135     80            1     2
68587  99999   56       1     170      72    120     80            2     1

       smoke  alco  active  cardio
0          0     0       1       0
1          0     0       1       1
2          0     0       0       1
3          0     0       1       1
4          0     0       0       0
...      ...   ...     ...     ...
68583      1     0       1       0
68584      0     0       1       1
68585      0     1       0       1
68586      0     0       0       1
68587      0     0       1       0

[68588 rows x 13 columns]

In [28]:
print(Y)

0        2
1        3
2        2
3        3
4        1
        ..
68583    2
68584    3
68585    3
68586    2
68587    2
Name: diagnosis, Length: 68588, dtype: int64

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2, stratify=Y, random_state=2 )

In [30]:
print(X.shape, X_train.shape, X_test.shape)

(68588, 13) (54870, 13) (13718, 13)

In [35]:
X_train2,X_val, Y_train2, Y_val = train_test_split(X_train,Y_train, test_size=0.15,random_state=2 )

In [36]:
print(X.shape, X_train2.shape, X_test.shape, X_val.shape)

(68588, 13) (46639, 13) (13718, 13) (8231, 13)

In [37]:
model = LogisticRegression()

In [38]:
model.fit(X_train2, Y_train2)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [40]:
X_train2_prediction = model.predict(X_train2)
training_data_accuracy = accuracy_score(X_train2_prediction,Y_train2 )

In [41]:
print("accuracy on training data:", training_data_accuracy)

accuracy on training data: 0.8383327258303137

In [42]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test )

In [43]:
print("accuracy on test data:", test_data_accuracy)

accuracy on test data: 0.8417407785391456

In [44]:
X_val_prediction = model.predict(X_val)
val_data_accuracy = accuracy_score(X_val_prediction,Y_val )

In [19]:
print("accurac of test data:",val_data_accuracy)

accurac of test data: 0.8053652135879866

Building a prediction system

In [55]:
input_data=(491,43,1,156,60,90,60,1,1,0,0,1,0)
input_data_as_numpy_array= np.asarray(input_data)
import_data_reshaped = input_data_as_numpy_array.reshape(1,13) 
prediction= model.predict(import_data_reshaped)
print(prediction)

[1]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

Object `reshape` not found.